{
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "endOfLine": "lf",
  "printWidth": 120,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-organize-imports"]
}
